<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni0915</key>
    <string>uni0915.glif</string>
    <key>uni0916</key>
    <string>uni0916.glif</string>
    <key>uni0917</key>
    <string>uni0917.glif</string>
    <key>uni0918</key>
    <string>uni0918.glif</string>
    <key>uni0919</key>
    <string>uni0919.glif</string>
    <key>uni091A</key>
    <string>uni091A_.glif</string>
    <key>uni091B</key>
    <string>uni091B_.glif</string>
    <key>uni091C</key>
    <string>uni091C_.glif</string>
    <key>uni091D</key>
    <string>uni091D_.glif</string>
    <key>uni091E</key>
    <string>uni091E_.glif</string>
    <key>uni091F</key>
    <string>uni091F_.glif</string>
    <key>uni0920</key>
    <string>uni0920.glif</string>
    <key>uni0921</key>
    <string>uni0921.glif</string>
    <key>uni0922</key>
    <string>uni0922.glif</string>
    <key>uni0923</key>
    <string>uni0923.glif</string>
    <key>uni0924</key>
    <string>uni0924.glif</string>
    <key>uni0925</key>
    <string>uni0925.glif</string>
    <key>uni0926</key>
    <string>uni0926.glif</string>
    <key>uni0927</key>
    <string>uni0927.glif</string>
    <key>uni0928</key>
    <string>uni0928.glif</string>
    <key>uni092A</key>
    <string>uni092A_.glif</string>
    <key>uni092B</key>
    <string>uni092B_.glif</string>
    <key>uni092C</key>
    <string>uni092C_.glif</string>
    <key>uni092D</key>
    <string>uni092D_.glif</string>
    <key>uni092E</key>
    <string>uni092E_.glif</string>
    <key>uni092F</key>
    <string>uni092F_.glif</string>
    <key>uni0930</key>
    <string>uni0930.glif</string>
    <key>uni0932</key>
    <string>uni0932.glif</string>
    <key>uni0935</key>
    <string>uni0935.glif</string>
    <key>uni0936</key>
    <string>uni0936.glif</string>
    <key>uni0937</key>
    <string>uni0937.glif</string>
    <key>uni0938</key>
    <string>uni0938.glif</string>
    <key>uni0939</key>
    <string>uni0939.glif</string>
  </dict>
</plist>
