<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni0915</key>
    <string>uni0915.glif</string>
    <key>uni0916</key>
    <string>uni0916.glif</string>
  </dict>
</plist>
